services:
  samba:
    image: dperson/samba
    container_name: samba

    environment:
      - USER=${SAMBA_USER};${SAMBA_PASSWORD};${LOCAL_UID};${LOCAL_GID}
    volumes:
      - ${STORAGE_ROOT}:/mnt/storage
      - ${BACKUP_ROOT}:/mnt/backup
      # Map your custom config over the default one
      - ./samba.conf:/etc/samba/smb.conf:ro
    restart: unless-stopped
    ports:
      - "139:139"
      - "445:445"
    networks:
      - nas_network

networks:
  nas_network:
    driver: bridge
