# Path configurations for the smarthome docker containers and other related settings
SMARTHOME_BASE=
STORAGE_ROOT=
BACKUP_ROOT=

# User and group IDs for file permissions
LOCAL_UID=1000
LOCAL_GID=1000

# Samba credentials for sharing files with Windows machines
SAMBA_USER=johndoe
SAMBA_PASSWORD=secret

# PosgreSQL and PgAdmin
POSTGRES_USER=jdoe
POSTGRES_PASSWORD=supersecret
POSTGRES_DB=db
DATABASE_URL=postgresql://jdoe:supersecret@localhost:5432/db
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
